<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.online.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rui.online.pojo.Message">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="send_user_id" property="sendUserId" />
        <result column="send_user_name" property="sendUserName" />
        <result column="send_real_name" property="sendRealName" />
        <result column="receive_user_count" property="receiveUserCount" />
        <result column="read_count" property="readCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, create_time, send_user_id, send_user_name, send_real_name, receive_user_count, read_count
    </sql>

    <update id="readAdd" parameterType="java.lang.Integer">
        UPDATE t_message SET read_count = read_count + 1
        WHERE id= #{id} and read_count = (SELECT m.read_count from ( SELECT read_count FROM t_message WHERE id = #{id} ) m)
    </update>

    <select id="page" resultMap="BaseResultMap" parameterType="com.rui.online.VO.admin.message.MessagePageRequestVM">
        select
        <include refid="Base_Column_List" />
        from t_message
        <where>
            <if test="sendUserName != null">
                and send_user_name  like concat('%',#{sendUserName},'%')
            </if>
        </where>
    </select>

</mapper>
