<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.online.mapper.SubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rui.online.pojo.Subject">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="level_name" property="levelName" />
        <result column="item_order" property="itemOrder" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, level, level_name, item_order, deleted
    </sql>

    <select id="page" resultMap="BaseResultMap" parameterType="com.rui.online.VO.admin.education.SubjectPageRequestVM">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_subject
        <where>
            and deleted=0
            <if test="id != null ">
                and id= #{id}
            </if>
            <if test="level != null ">
                and level= #{level}
            </if>
        </where>
    </select>

</mapper>
