<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rui.online.mapper.UserEventLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rui.online.pojo.UserEventLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, real_name, content, create_time
    </sql>

    <select id="selectCountByDate"  resultType="com.rui.online.domain.other.KeyValue">
        SELECT create_time as name,COUNT(create_time) as value from
            (
            SELECT DATE_FORMAT(create_time,'%Y-%m-%d') as create_time from t_user_event_log
            WHERE  create_time  between  #{startTime}  and  #{endTime}
            ) a
        GROUP BY create_time
    </select>

    <select id="page" resultMap="BaseResultMap" parameterType="com.rui.online.VO.admin.user.UserEventPageRequestVM">
        select
        <include refid="Base_Column_List"/>
        from t_user_event_log
        <where>
            <if test="userId != null">
                and user_id= #{userId}
            </if>
            <if test="userName != null">
                and user_name= #{userName}
            </if>
        </where>
    </select>

<!--Integer selectLoginByMonth(Date startTime, Date endTime);-->
    <select id="selectLoginByMonth" resultType="java.lang.Integer">
        SELECT count(*)
        from
            (
                SELECT DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,content from t_user_event_log
                WHERE  create_time  between  #{startTime}  and  #{endTime}
            ) a
        where a.content like '%登录了%'
    </select>
<!--    Integer selectLoginByToday(Date startDay, Date endDay);-->
    <select id="selectLoginByToday" resultType="java.lang.Integer">
        SELECT count(*)
        from
            (
                SELECT DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,content from t_user_event_log
                WHERE  create_time  between  #{startDay}  and  #{endDay}
            ) a
        where a.content like '%登录了%'
    </select>

</mapper>
